---
---

@import url('https://fonts.googleapis.com/css?family=Alegreya|Lato');
@import 'colors';
@import 'headings';

@import 'header';
@import 'content';
@import 'footer';

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 12pt;
  font-family: 'Lato', sans-serif;
  color: $text;
  background-color: $paper;
}

img {
  max-width: 100%;
  height: auto;
}

#content {
  width: 80%;
  margin: 1em auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 5em;
  height: 3em;
}

footer {
  height: 7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-center {
  display: block;
  margin: auto;
}

.center {
  text-align: center;
}

@media only screen and (max-width : 425px) {
  footer {
    flex-direction: column;
    
    >div {
      margin-bottom: 1em;
    }
  }
}

